<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSContactsUsageDescription</key>
	<string>To help you connect with friends and streamline your experience, Gimme would like to access your contacts. We&apos;ll securely use this information solely for finding friends. Your privacy is important to us, and we won&apos;t misuse your contacts. Tap &apos;Allow&apos; to enhance your app experience or &apos;Don&apos;t Allow&apos; if you prefer to manage your contacts manually.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.473803567705-1stno7rb18oprgiqj21q0s0716388d02</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>io.Branch.Branchsters</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>branchsters</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>crew-staging</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>myextensionapp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>myextensionapp</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>473803567705-1stno7rb18oprgiqj21q0s0716388d02.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>12959089441-7lj18o7j1f519donnvtrmvr61spiirph.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>applinks:join-crew-alternate.app.link</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>applinks:www.google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>join-crew-alternate.test-app.link</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>join-crew.test-app.link</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Stay in the loop! Enable notifications to receive timely updates, exclusive offers, and personalized content tailored just for you. Be the first to know about new features and exciting events. We value your privacy and will only send you relevant information. Tap 'Allow' to get started and make the most out of your app experience!</string>
	<key>UIAppFonts</key>
	<array>
		<string>Helvetica.ttf</string>
		<string>ABCFavorit-Bold.otf</string>
		<string>ABCFavorit-Regular-Trial.otf</string>
		<string>ABCFavoritMono-Bold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>SFSafariStyleSheet</key>
			<array>
				<dict>
					<key>Style Sheet</key>
					<string>content.css</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_aCpykuQ0yD1JgKcneGXnDahjDFaa1qu9</string>
		<key>test</key>
		<string>key_test_gCizpFS9tt7LmVfkcR5hmlliuumj2ECL</string>
	</dict>
	<key>branch_universal_link_domains</key>
	<array>
		<string>www.google.com</string>
		<string>join-crew-alternate.app.link</string>
		<string>join-crew.test-app.link</string>
		<string>join-crew-alternate.test-app.link</string>
	</array>
</dict>
</plist>
